@import "tailwindcss";

:root {
  /* Colors */
  --color-white-50: #ffffff;
  --color-white-100: #fafafa;
  --color-crimson-800: #ff879f;
  --color-crimson-950: #dc143c;
  --color-black-800: #111111;
  --color-black-950: #000000;

  /* Spacing */
  --spacing-24: 24px;
  --spacing-48: 48px;
  --spacing-96: 96px;
  --spacing-128: 128px;

  /* Min / Max Width */
  --container-1440: 1440px;
}

@theme {
  /* Colors */
  --color-white-50: #ffffff;
  --color-white-100: #fafafa;
  --color-crimson-800: #ff879f;
  --color-crimson-950: #dc143c;
  --color-black-800: #111111;
  --color-black-950: #000000;

  /* Spacing */
  --spacing-24: 24px;
  --spacing-48: 48px;
  --spacing-96: 96px;
  --spacing-128: 128px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-black-800);
  padding-inline: var(--spacing-48);
}

body {
  margin-block: 24px;
  margin-inline: auto;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100vh;
}
